<nav class="navbar navbar-expand-lg py-3 sticky-top bg-white text-uppercase ">
  <div class="container">
    <a class="navbar-brand text-success" href="/lang/<%= lang %>">Viaje Holding</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/<%= lang %>/home"><%= data.home %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%= lang %>/profile"><%= data.profile %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%= lang %>/service"><%= data.service %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%= lang %>/partnership"><%= data.partnership %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/<%= lang %>/contact"><%= data.contact %></a>
        </li>

      </ul>
    </div>
  </div>
</nav>