<nav class="navbar navbar-expand-lg py-3 sticky-top navbar-red bg-white ">
  <div class="container">
    <a class="navbar-brand" href="/<%= lang %>/home">
      <img class="logo" src="/img/viaje-holdings-green.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%- currentPage === 'home' ? 'active' : '' %>" href="/<%= lang %>/home"><%= data.home %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- currentPage === 'profile' ? 'active' : '' %>" href="/<%= lang %>/profile"><%= data.profile %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- currentPage === 'service' ? 'active' : '' %>" href="/<%= lang %>/service"><%= data.service %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- currentPage === 'partnership' ? 'active' : '' %>" href="/<%= lang %>/partnership"><%= data.partnership %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- currentPage === 'contact' ? 'active' : '' %>" href="/<%= lang %>/contact"><%= data.contact %></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% 
              let currentLangText = '';
              let currentLangFlagName = '';

              switch (lang) {
                case 'en':
                  currentLangText = 'EN';
                  currentLangFlagName = 'en-lang-flag.png';
                  break;
                case 'id':
                  currentLangText = 'ID';
                  currentLangFlagName = 'id-lang-flag.png';
                  break;
              
                default:
                  currentLangText = 'EN';
                  break;
              }
            %>

            <span class="navbar__lang-item navbar__lang-flag">
              <img src="/img/<%= currentLangFlagName %>" alt="<%= `${currentLangText} Flag` %>" class="navbar__lang-image" />
            </span>
            <span class="navbar__lang-item navbar__lang-text"><%= currentLangText %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/en/<%= currentPage %>">
                <span class="dropdown-item__flag">
                  <img src="/img/en-lang-flag.png" alt="EN Flag" class="dropdown-item__image" />
                </span>
                English
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="/id/<%= currentPage %>">
                <span class="dropdown-item__flag">
                  <img src="/img/id-lang-flag.png" alt="ID Flag" class="dropdown-item__image" />
                </span>
                Indonesia
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>