<% const { navbar, footer, profile: {
  banner,
  companyProfile,
  viajeProject,
  businessModel,
  viajeGroupCompanies,
} } = data; 

let iconCompanyProfile = '';
let viajeFoundation = '';

switch (lang) {
  case 'en':
    iconCompanyProfile = 'icon-company-profile-en.png';
    viajeFoundation = 'viaje-foundation-logo-en.png';
    break;

  case 'id':
    iconCompanyProfile = 'icon-company-profile-en.png';
    viajeFoundation = 'viaje-foundation-logo-en.png';
    break;

  case 'kr':
    iconCompanyProfile = 'icon-company-profile-kr.png';
    viajeFoundation = 'viaje-foundation-logo-kr.png';
    break;

  default:
    break;
}
%>

<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs', { lang, data: navbar }) %>

<body class="company-profile <%= lang %>">
  <!-- HERO -->

  <div class="hero vh-100 d-flex align-items-center page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1 class="display-4 text-white hero__title"><%- banner.title[0] %></h1>
          <h2 class="display-4 text-white hero__title"><%- banner.title[1] %></h2>
          <p class="text-white my-3 small"><%- banner.excerpt %></p>
          <p class="text-white small">"<%- banner.quote %>"</p>

          <button type="button" class="primary-btn btn"><%= banner.button %></button>
        </div>
      </div>
    </div>
  </div>

  <!-- HERO -->


  <!-- COMPANY PROFILE -->

  <section class="introduction container page1">
  <div class="container">
    <div class="row al">
      <div class="col-md-7">
        <div class="introduction__info">
          <h2 class="introduction__info-title"><%- companyProfile.title %></h2>
          <p class="introduction__info-excerpt"><%- companyProfile.body[0] %></p>
          <p class="introduction__info-excerpt"><%- companyProfile.body[1] %></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="introduction__art">
          <img src="/img/company-profile-icon.png" alt="Company profile" class="introduction__art-img" />
        </div>
      </div>
    </div>
  </div>
  
</section>


<!-- ==========VIAJE PROJECT SECTION================ -->


<section class="page2" id="viaje-project">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 mx-auto text-center">
        <h4 class="text2 viaje-project__title"><%- viajeProject.title %></h4>
        <p class="small-1"><%- viajeProject.body %></p>
      </div>
      <div class="container">
        <div class="row justify-content-center viaje-picture">
          <div class="col-md-4">
            <img class="img-fluid" src="/img/viaje phone company profile.png"/>
          </div>
          <div class="col-md-4">
            <img class="img-fluid " src="/img/<%= iconCompanyProfile %>"/>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- ==========VIAJE PROJECT SECTION================ -->


  <!-- BUSINESS MODEL -->

<section class="page2" id="business-model">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 mx-auto text-center">
          <h4 class="text3 text-uppercase business-model__title"><%- businessModel.title %></h4>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 col-xl-8">
              <img class="icon3" src="/img/business-model-icon.png" />
              <p class="business-text text-center"><%- businessModel.body %></p>
            </div>
           </div>

        </div>
         
      </div>
  </section>

  <!-- BUSINESS MODEL -->

  <!-- viaje group companies -->

<section class="page3" id="viaje-group page4">
  <div class="container">
    <div class="row">
      <div class=" mx-auto text-center col-md-8">
        <h4 class="text4 viaje-group__title"><%- viajeGroupCompanies.title %></h4>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <img class="icon3" src="/img/<%= viajeFoundation %>" />
          </div>
         </div>
      </div>
    </div>
  </section>

  <!-- viaje group companies -->

<%- include('partials/footer.ejs', { lang, data: footer }) %>
<%- include('partials/libraries.ejs') %>

<script src="/javascripts/company-profile.js"></script>

<%- include('partials/closing-tags.ejs') %>
