<% const { navbar, footer, partnership: {
  banner,
  partners
} } = data; %>

<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs', { lang, data: navbar }) %>

<body class="partnership">
  <section class="banner page-banner page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <h1 class="banner__title page-banner__title"><%= banner.title %></h1>
      
          <p class="banner__excerpt page-banner__excerpt"><%- banner.excerpt %></p>
      
          <button type="button" class="banner__action-btn page-banner__action-btn primary-btn btn"><%= banner.button %></button>
        </div>
      </div>
    </div>
  </section>

  <section class="partners container">
    <div class="row">
      <div class="col">
        <h2 class="partners__title"><%- partners.title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="/img/logo-partnership.png" alt="Partners Logo" class="partners__logo" />
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs', { lang, data: footer }) %>
