<% const { navbar, footer, service: {
  banner,
  introduction,
  bikeShowcase,
  easyPayment,
  metaverse,
} } = data; %>

<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs', { lang, data: navbar }) %>

<body class="services <%= lang %>">
  <main class="main-container">
    <section class="banner page-banner page-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6 col-xxl-7">
            <h1 class="banner__title page-banner__title"><%= banner.title %></h1>
        
            <p class="banner__excerpt page-banner__excerpt"><%- banner.excerpt %></p>
        
            <button type="button" class="banner__action-btn page-banner__action-btn primary-btn btn"><%= banner.button %></button>
          </div>
        </div>
      </div>
    </section>
  
    <section class="introduction container page-section">
      <div class="row">
        <div class="col-md-7">
          <div class="introduction__info">
            <h2 class="introduction__info-title page-section__title"><%= introduction.title %></h2>
      
            <p class="introduction__info-excerpt"><%- introduction.body %></p>
          </div>
        </div>
  
        <div class="col-md-5">
          <div class="introduction__art">
            <img src="/img/service-icon-globe.png" alt="Green Globe" class="introduction__art-img" />
          </div>
        </div>
      </div>
    </section>
  
    <section class="bike-showcase container-fluid page-section">
      <div class="row">
        <div class="col">
          <div class="bike-showcase__header">
            <h2 class="bike-showcase__title page-section__title"><%= bikeShowcase.title %></h2>
            <p class="bike-showcase__subtitle"><%= bikeShowcase.subtitle %></p>
          </div>
        </div>
      </div>
  
      <!-- =================== Only Image Bike Showcase =================== -->
  
      <!-- <div class="row">
        <div class="col">
          <div class="bike-showcase__img">
            <img src="/img/motor-viaje.png" alt="Motor Viaje">
          </div>
        </div>
      </div> -->
  
      <!-- =================== Bike Showcase Slider =================== -->
  
      <div class="row">
        <div class="col">
          <div class="bike-showcase__carousel">
            <div class="bike-showcase__carousel-controls">
              <button type="button" class="bike-showcase__carousel-btn bike-showcase__carousel-btn--prev btn">&#60;</button>
              <button type="button" class="bike-showcase__carousel-btn bike-showcase__carousel-btn--next btn">&#62;</button>
            </div>
  
            <div class="bike-showcase__carousel-items">
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
              <div class="bike-showcase__carousel-item">
                <img src="/img/motor-viaje.png" alt="Motor Viaje" class="bike-showcase__carousel-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row bike-showcase__features">
        <% 
          let serviceIconName = '';
  
          switch (lang) {
            case 'en':
              serviceIconName = 'service-icon-bike-features-en.png';
              break;
  
            case 'id':
              serviceIconName = 'service-icon-bike-features-id.png';
              break;
  
            case 'kr':
              serviceIconName = 'service-icon-bike-features-kr.png';
              break;
          
            default:
              serviceIconName = 'service-icon-bike-features-en.png';
              break;
          }
        %>
        <img src="/img/<%= serviceIconName %>" alt="Viaje Bike Features" class="bike-showcase__features-icons" />
      </div>
    </section>
  
    <section class="easy-payment page-section">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <img src="/img/viapoint-service.png" alt="Easy Payment" class="easy-payment__img">
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5"></div>
    
          <div class="col-12 col-md-7">
            <div class="easy-payment__info">
              <h2 class="easy-payment__info-title page-section__title"><%= easyPayment.title %></h2>
        
              <p class="easy-payment__info-excerpt"><%- easyPayment.body %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="metaverse page-section">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <img src="/img/service-icon-metaverse.png" alt="Metaverse" class="metaverse__img">
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="metaverse__info">
              <h2 class="metaverse__info-title page-section__title"><%= metaverse.title %></h2>
        
              <p class="metaverse__info-excerpt"><%- metaverse.body %></p>
            </div>
          </div>
  
          <div class="col-12 col-md-5"></div>
        </div>
      </div>
    </section>
  </main>

<%- include('partials/footer.ejs', { lang, data: footer }) %>
<%- include('partials/libraries.ejs') %>

<script src="/javascripts/bike-showcase.js"></script>
<script src="/javascripts/services.js"></script>

<%- include('partials/closing-tags.ejs') %>
